html {
  height: 100%;
  width: 100%;
}


nav ul li {
  font-family: cursive;
  font-style: italic;
  list-style: none;
  padding: 0px 5px;
  text-decoration: none;
}

li a {
  display: block;
  padding: 8px;
}

.right {
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 25px;
}
.rotate 
{
  transform: rotate(45deg);
  background-color: red;
  border: ridge gold;
  border-radius: 13em/3em;
}
.left {
  font-family: "Times New Roman", Times, serif;
  color: red;
  font-size: 25px;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

uppercase {
  text-decoration: uppercase;
}

a:hover {
  color: red;
}